<header class="header-global" id="up">
    <!-- Start navbar -->
    <nav class="navbar">
        <div class="container">
            <div class="navbar__inner">
                <div class="navbar__logo">
                    <a href="@@path/index.html">
                        <img src="@@path/assets/img/logo/logo-white.png" alt="logo">
                    </a>
                </div>
                <div class="navbar__search">
                    <input type="search" name="search" placeholder="Search a book..." autocomplete="off" />
                    <div class="navbar__icon">
                        <svg>
                            <use xlink:href="assets/icons/sprite.svg#search"></use>
                        </svg>
                    </div>
                </div>
                <div class="navbar__icons">
                    <div class="navbar__user">
                        <div class="navbar__icon">
                            <svg>
                                <use xlink:href="assets/icons/sprite.svg#user"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="navbar__my-books">
                        <div class="navbar__icon">
                            <svg>
                                <use xlink:href="assets/icons/sprite.svg#book"></use>
                            </svg>
                        </div>
                        <div class="navbar__counter">7</div>
                    </div>
                    <div class="navbar__wishlist">
                        <div class="navbar__icon">
                            <svg>
                                <use xlink:href="assets/icons/sprite.svg#heart"></use>
                            </svg>
                        </div>
                        <div class="navbar__counter">2</div>
                    </div>
                    <!-- start wishlist popup-list-->
                    <div class="popup-list">
                        <div class="popup-list__main-title">My Wish List</div>
                        <div class="popup-list__close">
                            <svg>
                                <use xlink:href="assets/icons/sprite.svg#close"></use>
                            </svg>
                        </div>
                        <div class="popup-list__list">
                            <div class="popup-list__item">
                                <div class="popup-list__title">The monk who sold his ferrari</div>
                                <div class="popup-list__author">- Robin Sharma</div>
                            </div>
                            <div class="popup-list__item">
                                <div class="popup-list__title">How to stop worrying and start living</div>
                                <div class="popup-list__author">- Dale Carnegie</div>
                            </div>
                        </div>
                        <a href="#" class="popup-list__link">
                            View Full Wish List
                        </a>
                        <div class="popup-list__triangle">
                        </div>
                    </div> <!-- end wishlist popup-list-->
                </div>
            </div>
        </div>
    </nav><!-- End navbar -->
</header>