<header class="header-global" id="up">
    <!-- Start navbar -->
    <nav class="navbar">
        <div class="container">
            <div class="navbar__inner">
                <div class="navbar__logo">
                    <a href="@@path/index.html">
                        <img src="@@path/assets/img/logo/logo-white.png" alt="logo">
                    </a>
                </div>
                <div class="navbar__search">
                    <input type="search" name="search" placeholder="Search a book..." autocomplete="off" />
                    <div class="navbar__search__icon">
                        <svg>
                            <use xlink:href="assets/icons/sprite.svg#search"></use>
                        </svg>
                    </div>
                </div>
                <div class="navbar__icons">
                    <div class="navbar__icons__user">
                        <div class="navbar__icons__user_icon">
                            <svg>
                                <use xlink:href="assets/icons/sprite.svg#user"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="navbar__icons__books">
                        <div class="navbar__icons__books_icon">
                            <svg>
                                <use xlink:href="assets/icons/sprite.svg#book"></use>
                            </svg>
                        </div>
                        <div class="navbar__icons__books_count">7</div>
                    </div>
                    <div class="navbar__icons__wishlist">
                        <div class="navbar__icons__wishlist_icon">
                            <svg>
                                <use xlink:href="assets/icons/sprite.svg#heart"></use>
                            </svg>
                        </div>
                        <div class="navbar__icons__wishlist_count">2</div>
                    </div>
                </div>
            </div>
        </div>
    </nav><!-- End navbar -->
</header>