.btn {
  position: relative;
  display: block;
  background-color: $main-color;
  line-height: 3;
  margin-top: 3rem;
  transition: all 0.2s ease;
  border-radius: 50px;
  // text
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.7px;
  color: black;
  text-align: center;

  &:hover {
    background-color: darken($main-color, 5%);
  }

  &:focus,
  &:active {
    outline: none;
    box-shadow: none;
  }

  &::after {
    @include fontAwesome;
    // content: "\f073";
    // font-weight: 400;
    font-size: 14px;
    color: #fff;
    @include align-center(vertical);
    right: 1.56rem;
  }
}

// ----------------------------------------------------
.btn--green {
  color: white;
  background-color: $green;

  &:hover {
    background-color: darken($green, 10%);
  }
}

// ----------------------------------------------------
.btn.active {
  background-color: $grey;

  &:hover {
    background-color: $grey;
  }
}

button:disabled {
  background-color: $grey;
  color: $black;
  cursor: initial;

  &:hover {
    background-color: $grey;
  }
}

// ----------------------------------------------------
.btn.load-more {
  @include center_block;
  padding-left: 3.5rem;
  padding-right: 1.5rem;
  
  svg {
    @include align-center(vertical);
    width: 18px;
    height: 18px;
    fill: red !important;
    left: 1.5rem;
  }
}
.btn.load-more.active {
  svg {
    top: 11px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
  }
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// ----------------------------------------------------
.pageUp {
  opacity: 1;
  width: 37px;
  height: 37px;
  position: fixed;
  bottom: 33px;
  right: 2%;
  z-index: 30;
  background-color: $main-color;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  border-radius: 50px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.2s;
  opacity: 0;

  &:hover {
    background-color: darken($main-color, 5%);
  }

  svg {
    width: 16px;
    fill: white;
    display: block;
    margin: 0 auto;
    @include align-center(both);
    margin-top: -1px;
  }
}