<header class="header-global" id="up">
    <!-- Start navbar -->
    <nav class="navbar">
        <div class="container">
            <div class="navbar__inner">
                <div class="navbar__logo">
                    <a href="@@path/index.html">
                        <img src="@@path/assets/img/logo/logo-white.png" alt="logo">
                    </a>
                </div>
                <div class="navbar__search">
                    <input type="text" name="searchBar" id="searchBar" placeholder="Search a book..." autocomplete="off" />
                    <div class="navbar__icon">
                        <svg>
                            <use xlink:href="assets/icons/sprite.svg#search"></use>
                        </svg>
                    </div>
                </div>
                <div class="navbar__btns">
                    <button class="navbar__btn navbar__btn--user">
                        <svg>
                            <use xlink:href="assets/icons/sprite.svg#user"></use>
                        </svg>
                    </button>
                    <button class="navbar__btn navbar__btn--my-books">
                        <svg>
                            <use xlink:href="assets/icons/sprite.svg#book"></use>
                        </svg>
                        <div class="navbar__counter" data-counter="My Books">0</div>
                    </button>
                    <button class="navbar__btn navbar__btn--wishlist">
                        <svg>
                            <use xlink:href="assets/icons/sprite.svg#heart"></use>
                        </svg>
                        <div class="navbar__counter" data-counter="Wish List">0</div>
                    </button>
                    <!-- start my-books popup-list-->
                    <div class="popup-list" data-popup="My Books">
                        <div class="popup-list__main-title">My Books</div>
                        <div class="popup-list__close">
                            <svg>
                                <use xlink:href="assets/icons/sprite.svg#close"></use>
                            </svg>
                        </div>
                        <ul class="popup-list__wrapper" data-popup="My Books">
                        </ul>
                        <button class="popup-list__more">
                            View Full List
                        </button>
                        <div class="popup-list__triangle">
                        </div>
                    </div> <!-- end my-books popup-list-->
                    <!-- start wishlist popup-list-->
                    <div class="popup-list" data-popup="Wish List">
                        <div class="popup-list__main-title">My Wish List</div>
                        <div class="popup-list__close">
                            <svg>
                                <use xlink:href="assets/icons/sprite.svg#close"></use>
                            </svg>
                        </div>
                        <ul class="popup-list__wrapper" data-popup="Wish List">
                        </ul>
                        <button class="popup-list__more">
                            View Full List
                        </button>
                        <div class="popup-list__triangle">
                        </div>
                    </div> <!-- end wishlist popup-list-->
                </div>
            </div>
        </div>
    </nav><!-- End navbar -->
</header>