.products {
  margin-top: 9rem;

  .products__inner {
    display: flex;

    .products__filter {
      min-width: 300px;
      border: 1px solid $border-color;
      margin-right: 2rem;
      max-height: 837px;

      h2 {
        font-size: 20px;
        padding: 29px 30px 0px;
      }

      ul {
        padding: 16px 30px 30px;

        li {
          a {
            position: relative;
            @include font-size(15px);
            display: inline-block;
            padding: 9px 0;
            color: $black;
            transition: all 0.2s ease;

            &:hover,
            &.active {
              &:before {
                content: "";
                display: block;
                width: 12px;
                height: 4px;
                background-color: $red;
                @include align-center(vertical);
                left: -17px;
              }
            }
          }
        }
      }

      .products__categories {
        border-bottom: 1px solid $border-color;
      }
    }

    .products__results {
      position: relative;
      width: 100%;

      .products__results_top {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        margin-bottom: 1rem;

        .products__sorting {
          display: flex;
          flex-wrap: nowrap;

          form {
            margin-right: 2rem;

            select {
              height: 40px;
              border: none;
              outline: none;
              border-bottom: 1px solid $border-color;
            }
          }
        }

        .products__view {
          display: flex;
          flex-wrap: nowrap;

          &_item {
            position: relative;
            width: 40px;
            height: 40px;
            border: 1px solid $border-color;
            cursor: pointer;
            overflow: hidden;

            &:last-of-type {
              border-left: none;

              svg {
                height: 18px;
                fill: $black;
              }
            }

            svg {
              height: 16px;
              fill: $grey;
              @include align-center(both);
            }
          }
        }
      }

      .products__results_items {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        .products__item {
          position: relative;
          text-align: left;
          padding: 1.5rem 2rem;
          width: 33.333%;
          height: 475px;
          overflow: hidden;
          margin: 15px 0;
          border: 1px solid transparent;
          transition: all 0.3s ease;

          .products__item_img {
            height: 345px;
            width: 100%;
            overflow: hidden;

            img {
              height: 100%;
              width: 100%;
              @include center_block;
              cursor: pointer;
            }
          }

          .products__item_bottom {
            position: relative;
            background-color: white;
            transition: all 0.5s ease;
            width: 100%;
            display: flex;
            flex-direction: column;
            z-index: 2;

            .products__item_info {
              height: 105px;
              padding: 1rem 0;
              border-bottom: 1px solid $border-color;
              margin-bottom: 1rem;
              cursor: pointer;
              display: flex;
              flex-direction: column;

              justify-content: center;

              .products__item_title {
                font-weight: bold;
                color: $black;
              }

              .products__item_author {
                @include font-size(15px);
                color: $dark-grey;
                margin-top: 0.2rem;
              }
            }

            a.products__item_view {
              position: relative;
              @include center_block;
              width: 100px;
              padding-right: 23px;
              @include font-size(13px);
              color: $dark-grey;
              text-decoration: underline;
              overflow: hidden;
              white-space: nowrap;
              transition: all 0.2s ease;

              &:hover {
                text-decoration: none;
                color: $black;

                svg {
                  fill: $black;
                }
              }

              svg {
                width: 18px;
                fill: $grey;
                @include align-center(vertical);
                right: 0px;
                transition: all 0.2s ease;
              }
            }

            .products__item_btns {
              display: flex;
              flex-wrap: nowrap;
              justify-content: space-between;

              button {
                width: 105px;
                margin-top: 1.2rem;
              }
            }
          }
        }

        .products__item:hover {
          border: 1px solid $border-color;
          box-shadow: 2px 3px 12px rgba(184, 184, 184, 0.2);

          .products__item_bottom {
            margin-top: -6.9rem;
          }
        }
      }

      .btn.load-more {
        @include center_block;
        width: 12rem;
        padding-left: 2rem;
        //background-color: $dark-grey;
        //color: white;

        svg {
          @include align-center(vertical);
          width: 18px;
          height: 18px;
          fill: red !important;
          left: 2rem;
        }
      }
      .btn.load-more.active {
        svg {
          top: 11px;
          -webkit-animation: spin 1s linear infinite; /* Safari */
          animation: spin 1s linear infinite;
        }
      }

      /* Safari */
      @-webkit-keyframes spin {
        0% {
          -webkit-transform: rotate(0deg);
        }
        100% {
          -webkit-transform: rotate(360deg);
        }
      }

      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }
  }
}
